.slide-in {
    opacity: 0;
    transform: translateX(-50px);
    animation: slideInAnimation 2s ease forwards;
  }
  
  @keyframes slideInAnimation {
    from {
      opacity: 0;
      transform: translateX(-50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  